# Browsers that we support

[js]
last 5 major versions and >= 0.1% and supports es6-module and supports es6-module-dynamic-import


[production]
> .1% in AT
not dead
not ie <= 11
not op_mini all
not ios_saf < 12.5
not samsung <= 7.4

[development]
last 2 chrome version
last 2 firefox version
last 2 safari major version

