# dependencies
node_modules

# private static files 
# /static/drinks

# OS
.DS_Store

# build
build/
dist/
.svelte-kit/
workers-site
static/pwa/
static/apple/

# env
.env.local
wrangler.toml
service-account.json
inlang.config.json

# IDE/Editor config
.vscode

.notes/