{
	"useTabs": true,
	"singleQuote": true,
	"bracketSpacing": true,
	"printWidth": 100,
	"tabWidth": 4,
	"quoteProps": "consistent",
	"trailingComma": "all",
	"arrowParens": "avoid",
	"overrides": [
		{
			"files": ["*.svelte"],
			"options": {
				"svelteBracketNewLine": true
			}
		}
	]
}
