/*Source Sams*/
/* @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

:root {
	font-family: 'Source Sans Pro', sans-serif;
} */

/* Roboto Slab */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

:root {
	font-family: 'Roboto Slab', serif;
} */

/* Fira Sans */
/* @import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');*/
/* @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;800&display=swap');

:root {
	font-family: 'Fira Sans', sans-serif;
	--body-bg1: #4994f5e5;
	--body-bg2: #1d68ca;
	--top1: #4050e0e5;
	--top2: #062ba5;
	--subtle: rgba(0, 0, 0, 0.1);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* background: linear-gradient(135deg, var(--body-bg1), var(--body-bg2)); */
/* body {
	height: 100%;
	background: var(--body-bg1);
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: black;
	margin-bottom: 65px;
}

@media screen and (min-width: 770px) {
	body {
		margin-bottom: 0;
	}
}  */

$mediaqueries: (
	mobile-only: 'only screen and (max-width: 767px)',
	mobile-and-tablet: 'only screen and (max-width: 1190px)',
	tablet-only: 'only screen and (min-width: 768px) and (max-width: 1190px)',
	tablet-and-desktop: 'only screen and (min-width: 768px)',
	desktop-only: 'only screen and (min-width: 1191px)',
	desktop-wide-only: 'only screen and (min-width: 1501px)',
) !default;

:root {
	/* --body-bg1: #4994f5e5;
	--body-bg2: #1d68ca; */
	/* --top1: #4050e0e5;
	--top2: #062ba5; */
	--mq-keys: #{join(map-keys($mediaqueries), '|')};
	@each $key, $mediaquery in $mediaqueries {
		--mq-#{$key}: #{$mediaquery};
	}

	font-style: normal;
	font-family: 'Fira Sans', sans-serif;

	--viewport-xs-min-width: 320px;
	--viewport-xs-max-width: 419px;
	--viewport-s-min-width: 420px;
	--viewport-s-max-width: 833px;
	--viewport-s-query: (max-width: 833px);
	--viewport-m-min-width: 834px;
	--viewport-m-max-width: 1023px;
	--viewport-m-query: (max-width: 1023px);
	--viewport-l-min-width: 1024px;
	--viewport-l-max-width: 1441px;
	--viewport-l-query: (min-width: 1024px);

	--body-bg1: #5881a7;
	/* --body-bg2: #284159; */
	--body-bg2: #1e3953;
	--top1: #5881a7;
	--top2: #1e3953;
	--subtle: rgba(0, 0, 0, 0.1);
	--cart-table-color: #ddd;

	--top-bar-height: 72.5px;
	--header-position: sticky;
}

html {
	// scroll-behavior: smooth;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

body {
	background: var(--body-bg1);
	font-family: 'Fira Sans', sans-serif;
	background-attachment: fixed;
	background-repeat: no-repeat;
	font-size: 1rem;
	color: black;
}

main {
	--carousel-nav-btn-display: none;
	// min-height: 90vh;
	position: relative;

	@media (any-hover: hover) {
		--carousel-nav-btn-display: initial;
	}
}

.theme--custom {
	/* --tint-color: #729abe; */
	--tint-color: #83a5c3;
	--accent-color: #dd3900;
	--modal-bg: white;
	--tab-bar-height: 60px;
	--tab-bar-active-height: calc(var(--tab-bar-height) + calc(var(--tab-bar-height) * 0.5));

	--theme-tabs: rgba(255, 255, 255, 0.6);
	/* --theme-surface: #d81717e5; */
	/* --theme-surface: #4994f5e5; */
	/* --theme-surface: #478ae1; */
	--theme-surface: #2374e0;

	--theme-icons-active: #ffffff;
	--theme-icons-inactive: rgba(255, 255, 255, 0.5);
	/* --theme-text-link: #82b1ff; */
	--theme-text-link: #ddd;
	--theme-inputs-box: #ffffff;
	--theme-buttons-disabled: rgba(255, 255, 255, 0.3);

	--theme-primary-color: #496e8f;
	--theme-secondary-color: #1e3953;
	--theme-focus-visible: #ddd;
	/* --theme-text-primary: #38a0c9e5; */
	--theme-text-primary: rgb(241, 241, 241);
	/* --theme-text-primary: #e6e6e6; */

	--theme-card-border-radius: 1em;
	--theme-text-secondary: rgba(255, 255, 255, 0.7);
	--theme-text-disabled: rgba(255, 255, 255, 0.5);
	--theme-text-fields-filled: rgba(255, 255, 255, 0.08);
	--theme-text-fields-filled-hover: rgba(255, 255, 255, 0.16);
	--theme-text-fields-outlined: rgba(255, 255, 255, 0.24);
	--theme-text-fields-outlined-disabled: rgba(255, 255, 255, 0.16);

	--theme-controls-disabled: rgba(255, 255, 255, 0.3);
	--theme-controls-thumb-inactive: #bdbdbd;
	--theme-controls-thumb-disabled: #424242;
	--theme-controls-track-inactive: rgba(255, 255, 255, 0.3);
	--theme-controls-track-disabled: rgba(255, 255, 255, 0.1);

	--theme-tables-active: #505050;
	--theme-tables-hover: #616161;
	--theme-tables-group: #616161;

	--theme-dividers: rgba(255, 255, 255, 0.12);
	--theme-chips: #555555;
	/* --theme-cards: #1e1e1e; */
	--theme-cards: #263dd1;
	--theme-app-bar: linear-gradient(to right, var(--top1), var(--top2));
	--theme-navigation-drawer: #363636;

	/* --tint-color: rgb(76, 83, 221); */
	background-color: var(--theme-surface);
	color: var(--theme-text-primary);
}

.form-elements-color {
	accent-color: var(--accent-color, orange);
	background-color: var(--accent-color, orange) !important;
	border-color: var(--accent-color, orange) !important;
}

::before {
	--theme-text-fields-border: rgba(255, 255, 255, 0.7);
	--theme-text-fields-border-hover: #38a0c9e5;
	// --theme-text-fields-border-width: 0.165em;
	// --theme-text-fields-border-width-hover: 0.165em;

	// --theme-text-fields-border-width: thin;
	--theme-text-fields-border-width-hover: thin 0 0 0;
}

.text-center {
	text-align: center !important;
}

.s-row {
	position: relative;
}

a {
	color: var(--theme-text-primary);
}

.h2 {
	font-size: 3.75rem !important;
	font-weight: 300 !important;
	line-height: 3.75rem !important;
	letter-spacing: -0.0083333333em !important;
}

.h3 {
	font-size: 3rem !important;
	font-weight: 400 !important;
	line-height: 3.125rem !important;
	letter-spacing: normal !important;
}

.h4 {
	font-size: 2.125rem !important;
	font-weight: 400 !important;
	line-height: 2.5rem !important;
	letter-spacing: 0.0073529412em !important;
}

.h5 {
	font-size: 1.8rem !important;
	font-weight: 400 !important;
	line-height: 2.5rem !important;
	letter-spacing: 0.0073529412em !important;
}

.justify-center {
	justify-content: center !important;
}

.ptb-2 {
	padding: 8px 0 !important;
}

.pt-2 {
	padding-top: 8px !important;
}

.p-2 {
	padding: 8px !important;
}

.m-2 {
	margin: 8px !important;
}

.ma-auto {
	margin: auto;
}

.ml-auto {
	margin-left: auto;
}

.w-100 {
	width: 100%;
}

.top-of-site-link {
	visibility: hidden;
	opacity: 0;
	transition: 0.2s;
	position: fixed;
	bottom: 1.2rem;
	right: 1.5rem;
	z-index: 15;
}

.visually-hidden:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
	text-indent: -9999px;
}

// .noscroll{
// 	position: fixed;
// 	overflow-y: scroll;
// 	width: 100%;
// }

.noscroll {
	overflow: hidden;
	padding-right: 17px;
}

h1,
h2,
h3,
main {
	&[id]::before {
		display: block;
		content: ' ';
		margin-top: calc(var(--top-bar-height, 75px) * -1);
		height: var(--top-bar-height, 75px);
		visibility: hidden;
		pointer-events: none;
	}
}
